.hero-main {
	padding-top: 20vh;
	background: linear-gradient(rgb(244, 191, 96), rgb(255, 195, 98));
	height: 80vh;
}

.if-ls {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
.center-white {
	display: flex;
	justify-content: center;
}
.row {
	/*  2 last strings from spotify*/
	margin-left: -15px;
	margin-right: -15px;
}
.row-white {
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
}
.termsBottom {
	display: flex;
	margin-top: 8%;
	color: aliceblue;
}
.footer {
	height: 5em;
}

.album-results-free {
	background-color: white;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
	margin-right: -15px;
	margin-left: -15px;
}
@media (min-width: 992px) {
	.container > .navbar-header,
	.container-fluid > .navbar-header,
	.container > .navbar-collapse,
	.container-fluid > .navbar-collapse {
		margin-right: 0;
		margin-left: 0;
	}
}
@media (min-width: 992px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-left: -15px;
	}
}
.container .jumbotron,
.container-fluid .jumbotron {
	border-radius: 6px;
	padding-left: 15px;
	padding-right: 15px;
}
.jumbotron .container {
	max-width: 100%;
}
.container .jumbotron,
.container-fluid .jumbotron {
	padding-left: 60px;
	padding-right: 60px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after {
	content: ' ';
	display: table;
}
.container > .navbar-header,
.container-fluid > .navbar-header {
	margin: 0;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
	margin: 0;
}
.navbar .alert .container {
	padding-right: 44px;
}
.navbar .alert .container .close {
	margin-right: -30px;
}
.container .jumbotron {
	border-radius: 0;
}
.jumbotron.hero-video .container,
.jumbotron.jumbotron-video .container {
	top: 0;
	z-index: 1;
}
@media (max-width: 767px) {
	.page-connect .wrap .jumbotron .container,
	.page-partner .wrap .jumbotron .container {
		margin-left: 0;
		margin-right: 0;
	}
}
.page-stations.page-partner .wrap div.jumbotron-hero .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.page-stations.page-partner .wrap div.jumbotron-hero .container .hero-logo {
	-webkit-transform: translateY(24px);
	-ms-transform: translateY(24px);
	transform: translateY(24px);
	height: 571px;
	width: 318px;
	background-image: url(/i/landing/stations/device.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
}
.page-stations.page-partner .wrap div.jumbotron-hero .container .hero-text {
	margin-left: 100px;
	-webkit-box-pack: left;
	-ms-flex-pack: left;
	justify-content: left;
	text-align: left;
}
.page-stations.page-partner .wrap div.jumbotron-hero .container .hero-text h1 {
	margin: 0;
}
.page-stations.page-partner
	.wrap
	div.jumbotron-hero
	.container
	.hero-text
	h1:first-of-type {
	color: #f32fa6;
}
.page-stations.page-partner
	.wrap
	div.jumbotron-hero
	.container
	.hero-text.not-available {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.page-lite.page-partner .wrap .jumbotron-hero .container .hero-text {
	-webkit-box-pack: left;
	-ms-flex-pack: left;
	justify-content: left;
	text-align: left;
}
.page-lite.page-partner .wrap .jumbotron-hero .container .hero-text h1 {
	font-size: 130px;
	margin-top: 0;
	letter-spacing: -2.71px;
	white-space: nowrap;
}
.page-lite.page-partner .wrap .jumbotron-hero .container .hero-text h4 {
	font-size: 40px;
	font-weight: 300;
}
.page-lite.page-partner .wrap .jumbotron-hero .container .hero-text .col-md-10 {
	margin-left: -10px;
}
.page-lite.page-partner
	.wrap
	.jumbotron-hero
	.container
	.hero-text
	.subtitle-lg {
	margin-bottom: 18px;
}
.ab-sign-up .jumbotron-get-started .container {
	display: -moz-flex;
	display: -ms-flexbox;
	display: -ms-flex;
	display: -webkit-box;
	display: flex;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-moz-flex: 1;
	-ms-flex: 1;
	-webkit-box-flex: 1;
	flex: 1;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
@media (min-width: 768px) {
	.ab-sign-up .jumbotron-get-started .container {
		text-align: center;
	}
}
.page-connect .wrap .jumbotron-listen-out-loud .row .col-md-10 p.subtitle,
.page-partner .wrap .jumbotron-listen-out-loud .row .col-md-10 p.subtitle {
	margin-top: 0;
	margin-bottom: 0;
}
.page-partner .wrap .jumbotron-listen-out-loud .col-md-6 .row {
	margin-bottom: 22px;
}
.page-partner .wrap .jumbotron-listen-now .row {
	display: -moz-flex;
	display: -ms-flexbox;
	display: -ms-flex;
	display: -webkit-box;
	display: flex;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
@media (min-width: 992px) {
	.page-connect .wrap .jumbotron.jumbotron-listen-out-loud .row {
		text-align: left;
	}
}
.music-made-simple .row {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.music-made-simple .row h2 {
	font-size: 48px;
}
.page-lite.page-partner .wrap .jumbotron-hero .container .hero-text h1 {
	font-size: 130px;
	margin-top: 0;
	letter-spacing: -2.71px;
	white-space: nowrap;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
.h1 {
	font-family: inherit;
	font-weight: 900;
	line-height: 1.1;
	color: inherit;
}
.lead {
	margin-bottom: 24px;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;
}
