.main-view-playing{
  display: flex;
  flex-wrap: wrap; 
  /* height: 94vh; */
  width: 100%; 
  color: white;
  background: linear-gradient(to bottom, #020000e3,rgba(243, 234, 234, 0.904));
}

.list-songs{
  /* display: flex; */
  color: black;
  width: 60vw;
  justify-content: space-around;
  margin: 10px;
  line-height: 40px;
}
.table-songs{
  /* display: flex; */
  /* justify-content: flex-start; */
}
.playlist-songs{
  min-height: 700px;
}
