.play-list{
  background-color: rgba(0,0,0,0.8);
  width: 100%;
}

.card-play-list{
  margin-left: 5%;
  width: 10%;
  height: 10em;
}

.albumsRecommend{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 8%;
}
.Information{
  margin: 20px 0px 20px 100px;
  font-family: spotify-circular, spotify-circular-cyrillic, spotify-circular-arabic, spotify-circular-hebrew, "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic Pro", Meiryo, "MS Gothic", sans-serif;
 /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: x-large;
  color: aliceblue;
  font-weight: 400;
}
.albumsWantsTo{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 80px;
}

.cardPreview{
  /* border: 1px solid white; */


}
