.header-play {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	background-color: rgb(65, 61, 61);
	width: 100%;
  height: 350px;
	opacity: 0.6;
	/* margin-left: 5em; */

	background-repeat: no-repeat;
	/* background-position: center; */
	background-size: cover;
  overflow: hidden;
}

/*  jazz ->  https://i.pinimg.com/originals/80/5f/57/805f5790e8a4e70fe7a3d8ddcd043453.jpg */
/* Стиль навигационной панели */



/* Добавить некоторые верхние отступы к содержимому страницы для предотвращения внезапного быстрого перемещения (поскольку панель навигации получает новое положение в верхней части страницы (position:fixed and top:0) */
/* .sticky + .content {
	padding-top: 60px;
} */
.artist-information {
	color: aliceblue;
	font-size: 48px;
	font-weight: 900;
	letter-spacing: -0.04em;
	line-height: 1.15;
	margin-left: 95px;
	margin-bottom: 15px;
}
