.full-screen-for-choose-artists {
  background-color: #121212;
  height: 100rem;
}
.full-screen-header {
  color: white;
  background-color: #121212;
  font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 35px;
  margin-top: 5px;
  padding: 0 50px;
  text-align: center;
}
.onboarding-screen-artists-sub-title {
  color: white;
  font-size: 15px;
  height: 18px;
  margin-bottom: 10px;
  padding-top: 2em;
  text-align: center;
}

.onboarding-screen-grid {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(6, 16.66667%); */
  border: 1px solid white;
  justify-content: center ;
  margin-top: 3em;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3em;
}
.artistAvatar {
  align-items: center;
}
.artist {
  border-radius: 50%;
  width: 120px;
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 0em;
}
.artistName {
  text-align: center;
  color: white;
}
