@-webkit-keyframes animSlideIn {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 500, 0);
    transform: matrix(1, 0, 0, 1, 500, 0);
  }
  1.3% {
    -webkit-transform: matrix(1.207, 0, 0, 1, 395.034, 0);
    transform: matrix(1.207, 0, 0, 1, 395.034, 0);
  }
  2.55% {
    -webkit-transform: matrix(1.254, 0, 0, 1, 304.663, 0);
    transform: matrix(1.254, 0, 0, 1, 304.663, 0);
  }
  4.1% {
    -webkit-transform: matrix(1.216, 0, 0, 1, 209.854, 0);
    transform: matrix(1.216, 0, 0, 1, 209.854, 0);
  }
  5.71% {
    -webkit-transform: matrix(1.146, 0, 0, 1, 132.66, 0);
    transform: matrix(1.146, 0, 0, 1, 132.66, 0);
  }
  8.11% {
    -webkit-transform: matrix(1.059, 0, 0, 1, 52.745, 0);
    transform: matrix(1.059, 0, 0, 1, 52.745, 0);
  }
  8.81% {
    -webkit-transform: matrix(1.041, 0, 0, 1, 36.4, 0);
    transform: matrix(1.041, 0, 0, 1, 36.4, 0);
  }
  11.96% {
    -webkit-transform: matrix(1.002, 0, 0, 1, -8.042, 0);
    transform: matrix(1.002, 0, 0, 1, -8.042, 0);
  }
  12.11% {
    -webkit-transform: matrix(1.002, 0, 0, 1, -9.217, 0);
    transform: matrix(1.002, 0, 0, 1, -9.217, 0);
  }
  15.07% {
    -webkit-transform: matrix(0.996, 0, 0, 1, -21.103, 0);
    transform: matrix(0.996, 0, 0, 1, -21.103, 0);
  }
  16.12% {
    -webkit-transform: matrix(0.996, 0, 0, 1, -21.678, 0);
    transform: matrix(0.996, 0, 0, 1, -21.678, 0);
  }
  27.23% {
    -webkit-transform: matrix(1, 0, 0, 1, -3.919, 0);
    transform: matrix(1, 0, 0, 1, -3.919, 0);
  }
  27.58% {
    -webkit-transform: matrix(1, 0, 0, 1, -3.534, 0);
    transform: matrix(1, 0, 0, 1, -3.534, 0);
  }
  38.34% {
    -webkit-transform: matrix(1, 0, 0, 1, 0.518, 0);
    transform: matrix(1, 0, 0, 1, 0.518, 0);
  }
  40.09% {
    -webkit-transform: matrix(1, 0, 0, 1, 0.485, 0);
    transform: matrix(1, 0, 0, 1, 0.485, 0);
  }
  50% {
    -webkit-transform: matrix(1, 0, 0, 1, 0.08, 0);
    transform: matrix(1, 0, 0, 1, 0.08, 0);
  }
  60.56% {
    -webkit-transform: matrix(1, 0, 0, 1, -0.012, 0);
    transform: matrix(1, 0, 0, 1, -0.012, 0);
  }
  82.78%,
  to {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
@keyframes animSlideIn {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 500, 0);
    transform: matrix(1, 0, 0, 1, 500, 0);
  }
  1.3% {
    -webkit-transform: matrix(1.207, 0, 0, 1, 395.034, 0);
    transform: matrix(1.207, 0, 0, 1, 395.034, 0);
  }
  2.55% {
    -webkit-transform: matrix(1.254, 0, 0, 1, 304.663, 0);
    transform: matrix(1.254, 0, 0, 1, 304.663, 0);
  }
  4.1% {
    -webkit-transform: matrix(1.216, 0, 0, 1, 209.854, 0);
    transform: matrix(1.216, 0, 0, 1, 209.854, 0);
  }
  5.71% {
    -webkit-transform: matrix(1.146, 0, 0, 1, 132.66, 0);
    transform: matrix(1.146, 0, 0, 1, 132.66, 0);
  }
  8.11% {
    -webkit-transform: matrix(1.059, 0, 0, 1, 52.745, 0);
    transform: matrix(1.059, 0, 0, 1, 52.745, 0);
  }
  8.81% {
    -webkit-transform: matrix(1.041, 0, 0, 1, 36.4, 0);
    transform: matrix(1.041, 0, 0, 1, 36.4, 0);
  }
  11.96% {
    -webkit-transform: matrix(1.002, 0, 0, 1, -8.042, 0);
    transform: matrix(1.002, 0, 0, 1, -8.042, 0);
  }
  12.11% {
    -webkit-transform: matrix(1.002, 0, 0, 1, -9.217, 0);
    transform: matrix(1.002, 0, 0, 1, -9.217, 0);
  }
  15.07% {
    -webkit-transform: matrix(0.996, 0, 0, 1, -21.103, 0);
    transform: matrix(0.996, 0, 0, 1, -21.103, 0);
  }
  16.12% {
    -webkit-transform: matrix(0.996, 0, 0, 1, -21.678, 0);
    transform: matrix(0.996, 0, 0, 1, -21.678, 0);
  }
  27.23% {
    -webkit-transform: matrix(1, 0, 0, 1, -3.919, 0);
    transform: matrix(1, 0, 0, 1, -3.919, 0);
  }
  27.58% {
    -webkit-transform: matrix(1, 0, 0, 1, -3.534, 0);
    transform: matrix(1, 0, 0, 1, -3.534, 0);
  }
  38.34% {
    -webkit-transform: matrix(1, 0, 0, 1, 0.518, 0);
    transform: matrix(1, 0, 0, 1, 0.518, 0);
  }
  40.09% {
    -webkit-transform: matrix(1, 0, 0, 1, 0.485, 0);
    transform: matrix(1, 0, 0, 1, 0.485, 0);
  }
  50% {
    -webkit-transform: matrix(1, 0, 0, 1, 0.08, 0);
    transform: matrix(1, 0, 0, 1, 0.08, 0);
  }
  60.56% {
    -webkit-transform: matrix(1, 0, 0, 1, -0.012, 0);
    transform: matrix(1, 0, 0, 1, -0.012, 0);
  }
  82.78%,
  to {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
@-webkit-keyframes animSlideOut {
  0% {
    -webkit-transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(300px, 0, 0) translate3d(100%, 0, 0);
  }
}
@keyframes animSlideOut {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(300px, 0, 0) translate3d(100%, 0, 0);
    transform: translate3d(300px, 0, 0) translate3d(100%, 0, 0);
  }
}
@-webkit-keyframes animScale {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(0.1, 0.6, 1);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0) scaleX(1);
  }
}
@keyframes animScale {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(0.1, 0.6, 1);
    transform: translate3d(0, 40px, 0) scale3d(0.1, 0.6, 1);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0) scaleX(1);
    transform: translateZ(0) scaleX(1);
  }
}
@-webkit-keyframes animJelly {
  0% {
    -webkit-transform: matrix(0.3, 0, 0, 0.3, 0, 0);
    transform: matrix(0.3, 0, 0, 0.3, 0, 0);
  }
  4.5% {
    -webkit-transform: matrix(0.606, 0, 0, 0.64, 0, 0);
    transform: matrix(0.606, 0, 0, 0.64, 0, 0);
  }
  5.51% {
    -webkit-transform: matrix(0.666, 0, 0, 0.711, 0, 0);
    transform: matrix(0.666, 0, 0, 0.711, 0, 0);
  }
  9.01% {
    -webkit-transform: matrix(0.843, 0, 0, 0.916, 0, 0);
    transform: matrix(0.843, 0, 0, 0.916, 0, 0);
  }
  11.01% {
    -webkit-transform: matrix(0.917, 0, 0, 0.997, 0, 0);
    transform: matrix(0.917, 0, 0, 0.997, 0, 0);
  }
  13.51% {
    -webkit-transform: matrix(0.984, 0, 0, 1.061, 0, 0);
    transform: matrix(0.984, 0, 0, 1.061, 0, 0);
  }
  16.52% {
    -webkit-transform: matrix(1.033, 0, 0, 1.094, 0, 0);
    transform: matrix(1.033, 0, 0, 1.094, 0, 0);
  }
  17.92% {
    -webkit-transform: matrix(1.046, 0, 0, 1.097, 0, 0);
    transform: matrix(1.046, 0, 0, 1.097, 0, 0);
  }
  21.92% {
    -webkit-transform: matrix(1.059, 0, 0, 1.08, 0, 0);
    transform: matrix(1.059, 0, 0, 1.08, 0, 0);
  }
  29.03% {
    -webkit-transform: matrix(1.039, 0, 0, 1.023, 0, 0);
    transform: matrix(1.039, 0, 0, 1.023, 0, 0);
  }
  34.63% {
    -webkit-transform: matrix(1.018, 0, 0, 0.996, 0, 0);
    transform: matrix(1.018, 0, 0, 0.996, 0, 0);
  }
  36.24% {
    -webkit-transform: matrix(1.013, 0, 0, 0.992, 0, 0);
    transform: matrix(1.013, 0, 0, 0.992, 0, 0);
  }
  40.14% {
    -webkit-transform: matrix(1.004, 0, 0, 0.989, 0, 0);
    transform: matrix(1.004, 0, 0, 0.989, 0, 0);
  }
  50.55% {
    -webkit-transform: matrix(0.996, 0, 0, 0.997, 0, 0);
    transform: matrix(0.996, 0, 0, 0.997, 0, 0);
  }
  62.36% {
    -webkit-transform: matrix(0.999, 0, 0, 1.001, 0, 0);
    transform: matrix(0.999, 0, 0, 1.001, 0, 0);
  }
  79.08%,
  84.68%,
  to {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
@keyframes animJelly {
  0% {
    -webkit-transform: matrix(0.3, 0, 0, 0.3, 0, 0);
    transform: matrix(0.3, 0, 0, 0.3, 0, 0);
  }
  4.5% {
    -webkit-transform: matrix(0.606, 0, 0, 0.64, 0, 0);
    transform: matrix(0.606, 0, 0, 0.64, 0, 0);
  }
  5.51% {
    -webkit-transform: matrix(0.666, 0, 0, 0.711, 0, 0);
    transform: matrix(0.666, 0, 0, 0.711, 0, 0);
  }
  9.01% {
    -webkit-transform: matrix(0.843, 0, 0, 0.916, 0, 0);
    transform: matrix(0.843, 0, 0, 0.916, 0, 0);
  }
  11.01% {
    -webkit-transform: matrix(0.917, 0, 0, 0.997, 0, 0);
    transform: matrix(0.917, 0, 0, 0.997, 0, 0);
  }
  13.51% {
    -webkit-transform: matrix(0.984, 0, 0, 1.061, 0, 0);
    transform: matrix(0.984, 0, 0, 1.061, 0, 0);
  }
  16.52% {
    -webkit-transform: matrix(1.033, 0, 0, 1.094, 0, 0);
    transform: matrix(1.033, 0, 0, 1.094, 0, 0);
  }
  17.92% {
    -webkit-transform: matrix(1.046, 0, 0, 1.097, 0, 0);
    transform: matrix(1.046, 0, 0, 1.097, 0, 0);
  }
  21.92% {
    -webkit-transform: matrix(1.059, 0, 0, 1.08, 0, 0);
    transform: matrix(1.059, 0, 0, 1.08, 0, 0);
  }
  29.03% {
    -webkit-transform: matrix(1.039, 0, 0, 1.023, 0, 0);
    transform: matrix(1.039, 0, 0, 1.023, 0, 0);
  }
  34.63% {
    -webkit-transform: matrix(1.018, 0, 0, 0.996, 0, 0);
    transform: matrix(1.018, 0, 0, 0.996, 0, 0);
  }
  36.24% {
    -webkit-transform: matrix(1.013, 0, 0, 0.992, 0, 0);
    transform: matrix(1.013, 0, 0, 0.992, 0, 0);
  }
  40.14% {
    -webkit-transform: matrix(1.004, 0, 0, 0.989, 0, 0);
    transform: matrix(1.004, 0, 0, 0.989, 0, 0);
  }
  50.55% {
    -webkit-transform: matrix(0.996, 0, 0, 0.997, 0, 0);
    transform: matrix(0.996, 0, 0, 0.997, 0, 0);
  }
  62.36% {
    -webkit-transform: matrix(0.999, 0, 0, 1.001, 0, 0);
    transform: matrix(0.999, 0, 0, 1.001, 0, 0);
  }
  79.08%,
  84.68%,
  to {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
@-webkit-keyframes animJellyThreeQuarterScale {
  0% {
    -webkit-transform: matrix(0.2, 0, 0, 0.2, 0, 0);
    transform: matrix(0.2, 0, 0, 0.2, 0, 0);
  }
  2.4% {
    -webkit-transform: matrix(0.447, 0, 0, 0.478, 0, -12.759);
    transform: matrix(0.447, 0, 0, 0.478, 0, -12.759);
  }
  3.28% {
    -webkit-transform: matrix(0.519, 0, 0, 0.565, 0, -20.381);
    transform: matrix(0.519, 0, 0, 0.565, 0, -20.381);
  }
  4.3% {
    -webkit-transform: matrix(0.589, 0, 0, 0.649, 0, -30.025);
    transform: matrix(0.589, 0, 0, 0.649, 0, -30.025);
  }
  4.8% {
    -webkit-transform: matrix(0.618, 0, 0, 0.682, 0, -34.797);
    transform: matrix(0.618, 0, 0, 0.682, 0, -34.797);
  }
  6.49% {
    -webkit-transform: matrix(0.692, 0, 0, 0.762, 0, -49.647);
    transform: matrix(0.692, 0, 0, 0.762, 0, -49.647);
  }
  7.21% {
    -webkit-transform: matrix(0.715, 0, 0, 0.782, 0, -55.053);
    transform: matrix(0.715, 0, 0, 0.782, 0, -55.053);
  }
  8.61% {
    -webkit-transform: matrix(0.746, 0, 0, 0.803, 0, -63.487);
    transform: matrix(0.746, 0, 0, 0.803, 0, -63.487);
  }
  9.61% {
    -webkit-transform: matrix(0.759, 0, 0, 0.806, 0, -67.836);
    transform: matrix(0.759, 0, 0, 0.806, 0, -67.836);
  }
  9.69% {
    -webkit-transform: matrix(0.76, 0, 0, 0.806, 0, -68.128);
    transform: matrix(0.76, 0, 0, 0.806, 0, -68.128);
  }
  12.89% {
    -webkit-transform: matrix(0.774, 0, 0, 0.786, 0, -74.433);
    transform: matrix(0.774, 0, 0, 0.786, 0, -74.433);
  }
  12.91% {
    -webkit-transform: matrix(0.774, 0, 0, 0.786, 0, -74.447);
    transform: matrix(0.774, 0, 0, 0.786, 0, -74.447);
  }
  15.78% {
    -webkit-transform: matrix(0.769, 0, 0, 0.763, 0, -74.797);
    transform: matrix(0.769, 0, 0, 0.763, 0, -74.797);
  }
  17.22% {
    -webkit-transform: matrix(0.765, 0, 0, 0.755, 0, -74.255);
    transform: matrix(0.765, 0, 0, 0.755, 0, -74.255);
  }
  21.78% {
    -webkit-transform: matrix(0.754, 0, 0, 0.746, 0, -71.836);
    transform: matrix(0.754, 0, 0, 0.746, 0, -71.836);
  }
  21.94% {
    -webkit-transform: matrix(0.754, 0, 0, 0.746, 0, -71.749);
    transform: matrix(0.754, 0, 0, 0.746, 0, -71.749);
  }
  28.33% {
    -webkit-transform: matrix(0.75, 0, 0, 0.749, 0, -68.815);
    transform: matrix(0.75, 0, 0, 0.749, 0, -68.815);
  }
  30.67% {
    -webkit-transform: matrix(0.749, 0, 0, 0.75, 0, -68.09);
    transform: matrix(0.749, 0, 0, 0.75, 0, -68.09);
  }
  34.27% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.391);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.391);
  }
  39.44% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.089);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.089);
  }
  46.61% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.277);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.277);
  }
  48.45% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.342);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.342);
  }
  58.94% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.524);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.524);
  }
  61.66% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.528);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.528);
  }
  66.23% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.521);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.521);
  }
  71.19% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.509);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.509);
  }
  80% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.499);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.499);
  }
  83.98% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.498);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.498);
  }
  to {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.5);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.5);
  }
}
@keyframes animJellyThreeQuarterScale {
  0% {
    -webkit-transform: matrix(0.2, 0, 0, 0.2, 0, 0);
    transform: matrix(0.2, 0, 0, 0.2, 0, 0);
  }
  2.4% {
    -webkit-transform: matrix(0.447, 0, 0, 0.478, 0, -12.759);
    transform: matrix(0.447, 0, 0, 0.478, 0, -12.759);
  }
  3.28% {
    -webkit-transform: matrix(0.519, 0, 0, 0.565, 0, -20.381);
    transform: matrix(0.519, 0, 0, 0.565, 0, -20.381);
  }
  4.3% {
    -webkit-transform: matrix(0.589, 0, 0, 0.649, 0, -30.025);
    transform: matrix(0.589, 0, 0, 0.649, 0, -30.025);
  }
  4.8% {
    -webkit-transform: matrix(0.618, 0, 0, 0.682, 0, -34.797);
    transform: matrix(0.618, 0, 0, 0.682, 0, -34.797);
  }
  6.49% {
    -webkit-transform: matrix(0.692, 0, 0, 0.762, 0, -49.647);
    transform: matrix(0.692, 0, 0, 0.762, 0, -49.647);
  }
  7.21% {
    -webkit-transform: matrix(0.715, 0, 0, 0.782, 0, -55.053);
    transform: matrix(0.715, 0, 0, 0.782, 0, -55.053);
  }
  8.61% {
    -webkit-transform: matrix(0.746, 0, 0, 0.803, 0, -63.487);
    transform: matrix(0.746, 0, 0, 0.803, 0, -63.487);
  }
  9.61% {
    -webkit-transform: matrix(0.759, 0, 0, 0.806, 0, -67.836);
    transform: matrix(0.759, 0, 0, 0.806, 0, -67.836);
  }
  9.69% {
    -webkit-transform: matrix(0.76, 0, 0, 0.806, 0, -68.128);
    transform: matrix(0.76, 0, 0, 0.806, 0, -68.128);
  }
  12.89% {
    -webkit-transform: matrix(0.774, 0, 0, 0.786, 0, -74.433);
    transform: matrix(0.774, 0, 0, 0.786, 0, -74.433);
  }
  12.91% {
    -webkit-transform: matrix(0.774, 0, 0, 0.786, 0, -74.447);
    transform: matrix(0.774, 0, 0, 0.786, 0, -74.447);
  }
  15.78% {
    -webkit-transform: matrix(0.769, 0, 0, 0.763, 0, -74.797);
    transform: matrix(0.769, 0, 0, 0.763, 0, -74.797);
  }
  17.22% {
    -webkit-transform: matrix(0.765, 0, 0, 0.755, 0, -74.255);
    transform: matrix(0.765, 0, 0, 0.755, 0, -74.255);
  }
  21.78% {
    -webkit-transform: matrix(0.754, 0, 0, 0.746, 0, -71.836);
    transform: matrix(0.754, 0, 0, 0.746, 0, -71.836);
  }
  21.94% {
    -webkit-transform: matrix(0.754, 0, 0, 0.746, 0, -71.749);
    transform: matrix(0.754, 0, 0, 0.746, 0, -71.749);
  }
  28.33% {
    -webkit-transform: matrix(0.75, 0, 0, 0.749, 0, -68.815);
    transform: matrix(0.75, 0, 0, 0.749, 0, -68.815);
  }
  30.67% {
    -webkit-transform: matrix(0.749, 0, 0, 0.75, 0, -68.09);
    transform: matrix(0.749, 0, 0, 0.75, 0, -68.09);
  }
  34.27% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.391);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.391);
  }
  39.44% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.089);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.089);
  }
  46.61% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.277);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.277);
  }
  48.45% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.342);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.342);
  }
  58.94% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.524);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.524);
  }
  61.66% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.528);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.528);
  }
  66.23% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.521);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.521);
  }
  71.19% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.509);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.509);
  }
  80% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.499);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.499);
  }
  83.98% {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.498);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.498);
  }
  to {
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, -67.5);
    transform: matrix(0.75, 0, 0, 0.75, 0, -67.5);
  }
}
@-webkit-keyframes fadeToThreeQuarters {
  0% {
    opacity: 0;
  }
  to {
    opacity: 0.75;
  }
}
@keyframes fadeToThreeQuarters {
  0% {
    opacity: 0;
  }
  to {
    opacity: 0.75;
  }
}
@-webkit-keyframes fadeFromThreeQuarters {
  0% {
    opacity: 0.75;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeFromThreeQuarters {
  0% {
    opacity: 0.75;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 3000);
    transform: matrix(1, 0, 0, 1, 0, 3000);
  }
  2.1% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 2097.078);
    transform: matrix(1, 0, 0, 1, 0, 2097.078);
  }
  4.2% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 1451.432);
    transform: matrix(1, 0, 0, 1, 0, 1451.432);
  }
  8.41% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 673.918);
    transform: matrix(1, 0, 0, 1, 0, 673.918);
  }
  12.61% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 298.665);
    transform: matrix(1, 0, 0, 1, 0, 298.665);
  }
  16.72% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 127.615);
    transform: matrix(1, 0, 0, 1, 0, 127.615);
  }
  25.03% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 17.095);
    transform: matrix(1, 0, 0, 1, 0, 17.095);
  }
  33.33% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  39.14% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 1.13);
    transform: matrix(1, 0, 0, 1, 0, 1.13);
  }
  to {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 3000);
    transform: matrix(1, 0, 0, 1, 0, 3000);
  }
  2.1% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 2097.078);
    transform: matrix(1, 0, 0, 1, 0, 2097.078);
  }
  4.2% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 1451.432);
    transform: matrix(1, 0, 0, 1, 0, 1451.432);
  }
  8.41% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 673.918);
    transform: matrix(1, 0, 0, 1, 0, 673.918);
  }
  12.61% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 298.665);
    transform: matrix(1, 0, 0, 1, 0, 298.665);
  }
  16.72% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 127.615);
    transform: matrix(1, 0, 0, 1, 0, 127.615);
  }
  25.03% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 17.095);
    transform: matrix(1, 0, 0, 1, 0, 17.095);
  }
  33.33% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  39.14% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 1.13);
    transform: matrix(1, 0, 0, 1, 0, 1.13);
  }
  to {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
.ab-in-app-message {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  text-align: center;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  line-height: normal;
  letter-spacing: normal;
  font-family: Helvetica, Arial, sans-serif;
  z-index: 1050;
}
.ab-in-app-message.ab-clickable {
  cursor: pointer;
}
.ab-in-app-message .ab-background,
.ab-in-app-message .ab-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.ab-in-app-message .ab-mask {
  background-color: #cfcfcf;
}
.ab-in-app-message .ab-close-button {
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 1060;
}
.ab-in-app-message .ab-message-text {
  margin: 20px;
  overflow: hidden;
  vertical-align: text-bottom;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 100%;
}
.ab-in-app-message .ab-message-text.start-aligned {
  text-align: left;
  text-align: start;
}
.ab-in-app-message .ab-message-text.end-aligned {
  text-align: right;
  text-align: end;
}
.ab-in-app-message .ab-message-text.center-aligned {
  text-align: center;
}
.ab-in-app-message .ab-message-text::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 9px;
}
.ab-in-app-message .ab-message-text::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.4);
}
.ab-in-app-message .ab-message-header {
  display: block;
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 14px;
  line-height: normal;
}
.ab-in-app-message .ab-message-header.start-aligned {
  text-align: left;
  text-align: start;
}
.ab-in-app-message .ab-message-header.end-aligned {
  text-align: right;
  text-align: end;
}
.ab-in-app-message .ab-message-header.center-aligned {
  text-align: center;
}
.ab-in-app-message.ab-slideup {
  cursor: pointer;
  margin: 20px;
  padding: 10px;
  border-radius: 3px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  right: 0;
  font-size: 13px;
}
.ab-in-app-message.ab-slideup .ab-close-button {
  right: 8px;
  top: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.ab-in-app-message.ab-slideup .ab-close-button:hover {
  font-size: 18px;
  right: 6px;
  top: 6px;
}
.ab-in-app-message.ab-slideup .ab-message-text {
  display: inline-block;
  margin: 5px 15px 5px 10px;
  max-height: 200px;
  max-width: 440px;
}
.ab-in-app-message.ab-slideup .ab-image-area {
  display: inline-block;
  width: 60px;
  vertical-align: top;
  margin: 5px 0 5px 5px;
}
.ab-in-app-message.ab-slideup .ab-image-area.ab-icon-area {
  width: auto;
}
.ab-in-app-message.ab-slideup .ab-image-area ~ .ab-message-text {
  max-height: 60px;
}
.ab-in-app-message.ab-slideup .ab-image-area img {
  width: 100%;
}
.ab-in-app-message.ab-fullscreen,
.ab-in-app-message.ab-modal {
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  border-radius: 10px;
}
.ab-in-app-message.ab-fullscreen .ab-background,
.ab-in-app-message.ab-fullscreen .ab-mask,
.ab-in-app-message.ab-modal .ab-background,
.ab-in-app-message.ab-modal .ab-mask {
  border-radius: 10px;
  overflow: hidden;
}
.ab-in-app-message.ab-fullscreen .ab-message-text,
.ab-in-app-message.ab-modal .ab-message-text {
  overflow-y: auto;
  line-height: 17px;
}
.ab-in-app-message.ab-fullscreen .ab-close-button,
.ab-in-app-message.ab-modal .ab-close-button {
  right: 10px;
  top: 10px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
}
.ab-in-app-message.ab-fullscreen .ab-close-button .fa,
.ab-in-app-message.ab-modal .ab-close-button .fa {
  line-height: 20px;
}
.ab-in-app-message.ab-fullscreen .ab-image-area,
.ab-in-app-message.ab-modal .ab-image-area {
  position: relative;
  display: block;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.ab-in-app-message.ab-fullscreen .ab-image-area img,
.ab-in-app-message.ab-modal .ab-image-area img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ab-in-app-message.ab-fullscreen .ab-image-area .ab-center-cropped-img,
.ab-in-app-message.ab-modal .ab-image-area .ab-center-cropped-img {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ab-in-app-message.ab-fullscreen .ab-icon,
.ab-in-app-message.ab-modal .ab-icon {
  margin-top: 20px;
}
.ab-in-app-message.ab-fullscreen.graphic,
.ab-in-app-message.ab-modal.graphic {
  padding: 0;
}
.ab-in-app-message.ab-fullscreen.graphic .ab-message-text,
.ab-in-app-message.ab-modal.graphic .ab-message-text {
  display: none;
}
.ab-in-app-message.ab-fullscreen.graphic .ab-message-buttons,
.ab-in-app-message.ab-modal.graphic .ab-message-buttons {
  bottom: 0;
  left: 0;
}
.ab-in-app-message.ab-fullscreen.graphic .ab-message-buttons .ab-background,
.ab-in-app-message.ab-fullscreen.graphic .ab-message-buttons .ab-mask,
.ab-in-app-message.ab-modal.graphic .ab-message-buttons .ab-background,
.ab-in-app-message.ab-modal.graphic .ab-message-buttons .ab-mask {
  background-color: rgba(0, 0, 0, 0);
}
.ab-in-app-message.ab-fullscreen.graphic .ab-image-area,
.ab-in-app-message.ab-modal.graphic .ab-image-area {
  height: auto;
  margin: 0;
  border-radius: 10px;
}
.ab-in-app-message.ab-fullscreen .ab-message-buttons ~ .ab-message-text,
.ab-in-app-message.ab-modal .ab-message-buttons ~ .ab-message-text {
  margin-bottom: 80px;
}
.ab-in-app-message.ab-fullscreen.graphic .ab-image-area img,
.ab-in-app-message.ab-modal.graphic .ab-image-area img {
  display: block;
  top: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.ab-in-app-message.ab-modal {
  padding-top: 20px;
  top: 20%;
  width: 290px;
  max-width: 290px;
  max-height: 320px;
}
.ab-in-app-message.ab-modal .ab-message-text {
  max-height: 121px;
}
.ab-in-app-message.ab-modal .ab-image-area {
  margin-top: -20px;
  height: 100px;
}
.ab-in-app-message.ab-modal .ab-image-area img {
  max-width: 100%;
  max-height: 100%;
}
.ab-in-app-message.ab-modal .ab-image-area.ab-icon-area {
  height: auto;
}
.ab-in-app-message.ab-modal.graphic {
  width: auto;
  overflow: hidden;
}
.ab-in-app-message.ab-modal.graphic .ab-image-area {
  display: inline;
}
.ab-in-app-message.ab-modal.graphic .ab-image-area img {
  max-height: 320px;
  max-width: 290px;
}
.ab-in-app-message.ab-fullscreen {
  top: 8%;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
  width: 400px;
  max-height: 640px;
}
.ab-in-app-message.ab-fullscreen.landscape {
  width: 640px;
  max-height: 400px;
}
.ab-in-app-message.ab-fullscreen.landscape .ab-image-area {
  height: 200px;
}
.ab-in-app-message.ab-fullscreen.landscape.graphic .ab-image-area {
  height: 400px;
}
.ab-in-app-message.ab-fullscreen.landscape .ab-message-text {
  max-height: 100px;
}
.ab-in-app-message.ab-fullscreen .ab-message-text {
  max-height: 220px;
}
.ab-in-app-message.ab-fullscreen .ab-image-area {
  height: 320px;
}
.ab-in-app-message.ab-fullscreen.graphic .ab-image-area {
  height: 640px;
}
.ab-in-app-message.ab-html-message {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ab-in-app-message.ab-html-message.ab-show {
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.ab-in-app-message.ab-html-message.ab-hide {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-animation-name: none;
  animation-name: none;
  -webkit-animation-duration: 0;
  animation-duration: 0;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  top: 100%;
}
.ab-in-app-message .ab-message-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 20px 20px;
  z-index: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ab-feed,
.ab-feed .ab-feed-body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.ab-in-app-message .ab-message-button {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: auto;
  line-height: normal;
  letter-spacing: normal;
  padding: 14px 10px;
  text-transform: none;
  margin: 0;
  width: 48%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
}
.ab-in-app-message .ab-message-button:first-of-type {
  float: left;
}
.ab-in-app-message .ab-message-button:last-of-type {
  float: right;
}
.ab-in-app-message .ab-message-button:first-of-type:last-of-type {
  width: 100%;
}
.ab-in-app-message .ab-message-button a {
  color: inherit;
  text-decoration: inherit;
}
.ab-in-app-message img {
  display: inline-block;
}
.ab-in-app-message .ab-icon {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
.ab-in-app-message .ab-icon .fa {
  font-size: 30px;
  width: 30px;
}
.ab-start-hidden {
  visibility: hidden;
}
.ab-effect-slide.ab-show {
  -webkit-animation-name: animSlideIn;
  animation-name: animSlideIn;
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.ab-effect-slide.ab-hide {
  -webkit-animation-name: animSlideOut;
  animation-name: animSlideOut;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.ab-effect-fullscreen.ab-show,
.ab-effect-modal.ab-show {
  -webkit-animation-name: animJelly;
  animation-name: animJelly;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.ab-effect-fullscreen.ab-hide,
.ab-effect-modal.ab-hide {
  -webkit-animation-name: animScale;
  animation-name: animScale;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.ab-centering-div {
  position: fixed;
  text-align: center;
  z-index: 1050;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.ab-centering-div .ab-in-app-message {
  display: inline-block;
  pointer-events: all;
}
@media (max-width: 750px) {
  .ab-in-app-message.ab-slideup {
    width: 90%;
    margin: 5%;
  }
  .ab-in-app-message.ab-slideup .ab-message-text {
    margin: 2%;
    max-width: 100%;
  }
  .ab-in-app-message.ab-slideup .ab-image-area {
    width: 20%;
    margin: 2%;
  }
  .ab-in-app-message.ab-slideup .ab-image-area ~ .ab-message-text {
    max-width: 72%;
  }
  .ab-in-app-message.ab-slideup .ab-image-area img {
    width: 100%;
  }
  .ab-in-app-message.ab-fullscreen,
  .ab-in-app-message.ab-fullscreen.landscape {
    top: 0;
    height: 100%;
    width: 100%;
    max-height: none;
    border-radius: 0;
  }
  .ab-in-app-message.ab-fullscreen .ab-background,
  .ab-in-app-message.ab-fullscreen .ab-mask,
  .ab-in-app-message.ab-fullscreen.landscape .ab-background,
  .ab-in-app-message.ab-fullscreen.landscape .ab-mask {
    border-radius: 0;
  }
  .ab-in-app-message.ab-fullscreen.ab-effect-fullscreen.ab-show,
  .ab-in-app-message.ab-fullscreen.landscape.ab-effect-fullscreen.ab-show {
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  .ab-in-app-message.ab-fullscreen.ab-effect-fullscreen.ab-hide,
  .ab-in-app-message.ab-fullscreen.landscape.ab-effect-fullscreen.ab-hide {
    -webkit-animation-name: none;
    animation-name: none;
    -webkit-animation-duration: 0;
    animation-duration: 0;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    top: 100%;
  }
  .ab-in-app-message.ab-fullscreen .ab-image-area,
  .ab-in-app-message.ab-fullscreen.landscape .ab-image-area {
    height: 50%;
    border-radius: 0;
  }
  .ab-in-app-message.ab-fullscreen .ab-message-text,
  .ab-in-app-message.ab-fullscreen.landscape .ab-message-text {
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    height: auto;
    max-height: none;
  }
  .ab-in-app-message.ab-fullscreen.graphic,
  .ab-in-app-message.ab-fullscreen.landscape.graphic {
    display: block;
  }
  .ab-in-app-message.ab-fullscreen.graphic .ab-image-area,
  .ab-in-app-message.ab-fullscreen.landscape.graphic .ab-image-area {
    height: 100%;
    border-radius: 0;
  }
  .ab-in-app-message.ab-fullscreen .ab-close-button,
  .ab-in-app-message.ab-fullscreen.landscape .ab-close-button {
    font-size: 6vw;
    width: 6vw;
    height: 6vw;
    border-radius: 3vw;
    right: 3vw;
    top: 3vw;
  }
}
@media (max-device-width: 750px) and (orientation: landscape) {
  .ab-in-app-message.ab-modal {
    top: 0;
    margin: 0;
  }
  .ab-in-app-message.ab-fullscreen .ab-close-button,
  .ab-in-app-message.ab-fullscreen.landscape .ab-close-button {
    font-size: 6vh;
    width: 6vh;
    height: 6vh;
    border-radius: 3vh;
    right: 3vh;
    top: 3vh;
  }
}
@media (min-device-width: 321px) and (max-device-width: 750px) and (orientation: landscape) {
  .ab-in-app-message.ab-modal {
    margin-top: 20px;
  }
}
@media (min-device-width: 751px) and (max-device-width: 1024px) and (orientation: landscape) {
  .ab-in-app-message.ab-fullscreen:not(.landscape) {
    top: 0;
    margin-top: 20px;
  }
}
@media (min-width: 751px) {
  .ab-in-app-message.ab-fullscreen .ab-image-area img {
    max-height: 100%;
    max-width: 100%;
  }
}
@media (max-height: 790px) and (min-width: 751px) {
  .ab-in-app-message.ab-fullscreen:not(.landscape) {
    top: 2%;
  }
}
@media (max-height: 650px) and (min-width: 751px) {
  .ab-in-app-message.ab-fullscreen:not(.landscape).ab-effect-fullscreen.ab-show {
    -webkit-animation-name: animJellyThreeQuarterScale;
    animation-name: animJellyThreeQuarterScale;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .ab-in-app-message.ab-fullscreen:not(.landscape).ab-effect-fullscreen.ab-hide {
    -webkit-animation-name: animJellyThreeQuarterScale;
    animation-name: animJellyThreeQuarterScale;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
}
@media (max-height: 500px) and (min-width: 751px) {
  .ab-in-app-message.ab-fullscreen:not(.landscape) {
    top: 0;
    height: 100%;
    max-height: none;
    border-radius: 0;
    width: 400px;
  }
  .ab-in-app-message.ab-fullscreen:not(.landscape) .ab-background,
  .ab-in-app-message.ab-fullscreen:not(.landscape) .ab-mask {
    border-radius: 0;
  }
  .ab-in-app-message.ab-fullscreen:not(.landscape).ab-effect-fullscreen.ab-show {
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  .ab-in-app-message.ab-fullscreen:not(.landscape).ab-effect-fullscreen.ab-hide {
    -webkit-animation-name: none;
    animation-name: none;
    -webkit-animation-duration: 0;
    animation-duration: 0;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    top: 100%;
  }
  .ab-in-app-message.ab-fullscreen:not(.landscape) .ab-image-area {
    height: 50%;
    border-radius: 0;
  }
  .ab-in-app-message.ab-fullscreen:not(.landscape) .ab-message-text {
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    height: auto;
    max-height: none;
  }
  .ab-in-app-message.ab-fullscreen:not(.landscape).graphic {
    display: block;
  }
  .ab-in-app-message.ab-fullscreen:not(.landscape).graphic .ab-image-area {
    height: 100%;
    border-radius: 0;
  }
}
@media (max-height: 430px) {
  .ab-in-app-message.ab-fullscreen.landscape {
    top: 0;
  }
}
@media (max-height: 400px) {
  .ab-in-app-message.ab-fullscreen.landscape {
    top: 0;
    height: 100%;
    width: 100%;
    max-height: none;
    border-radius: 0;
  }
  .ab-in-app-message.ab-fullscreen.landscape .ab-background,
  .ab-in-app-message.ab-fullscreen.landscape .ab-mask {
    border-radius: 0;
  }
  .ab-in-app-message.ab-fullscreen.landscape.ab-effect-fullscreen.ab-show {
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  .ab-in-app-message.ab-fullscreen.landscape.ab-effect-fullscreen.ab-hide {
    -webkit-animation-name: none;
    animation-name: none;
    -webkit-animation-duration: 0;
    animation-duration: 0;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    top: 100%;
  }
  .ab-in-app-message.ab-fullscreen.landscape .ab-image-area {
    height: 50%;
    border-radius: 0;
  }
  .ab-in-app-message.ab-fullscreen.landscape .ab-message-text {
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    height: auto;
    max-height: none;
  }
  .ab-in-app-message.ab-fullscreen.landscape.graphic {
    display: block;
  }
  .ab-in-app-message.ab-fullscreen.landscape.graphic .ab-image-area {
    height: 100%;
    border-radius: 0;
  }
}
.ab-page-blocker {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
}
.ab-page-blocker.ab-show {
  -webkit-animation-name: fadeToThreeQuarters;
  animation-name: fadeToThreeQuarters;
  -webkit-animation-duration: 0.16666667s;
  animation-duration: 0.16666667s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.ab-page-blocker.ab-hide {
  -webkit-animation-name: fadeFromThreeQuarters;
  animation-name: fadeFromThreeQuarters;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
body > .ab-feed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 421px;
  border-radius: 0;
}
body > .ab-feed .ab-feed-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: none;
  border-left: 1px solid #d0d0d0;
  padding-top: 58px;
  min-height: 100%;
}
body > .ab-feed .ab-no-cards-message {
  position: absolute;
  width: 100%;
  margin-left: -20px;
  top: 40%;
}
.ab-feed {
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 7px 1px rgba(66, 82, 113, 0.15);
  box-shadow: 0 1px 7px 1px rgba(66, 82, 113, 0.15);
  width: 402px;
  background-color: #eee;
  font-family: Avenir Next Cyr W00 Regular, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: normal;
  overflow-y: auto;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.ab-feed .ab-card .ab-title,
.ab-feed .ab-card .ab-url-area {
  font-family: Avenir Next Cyr W00 Medium, Helvetica, Arial, sans-serif;
}
.ab-feed .ab-feed-body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d0d0d0;
  border-top: none;
  padding: 20px 20px 0;
}
.ab-feed.ab-show {
  -webkit-animation-name: animSlideIn;
  animation-name: animSlideIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.ab-feed.ab-hide {
  opacity: 0;
  -webkit-animation-name: animSlideOut;
  animation-name: animSlideOut;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.ab-feed .ab-card {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  border: 1px solid #d0d0d0;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #fff;
}
.ab-feed .ab-card a {
  color: inherit;
  text-decoration: none;
}
.ab-feed .ab-card a:hover {
  text-decoration: underline;
}
.ab-feed .ab-card .ab-image-area {
  display: inline-block;
  vertical-align: top;
  line-height: 0;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: initial;
  box-sizing: initial;
}
.ab-feed .ab-card .ab-image-area img {
  height: auto;
  width: 100%;
}
.ab-feed .ab-card.ab-banner .ab-card-body {
  display: none;
}
.ab-feed .ab-card .ab-card-body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  position: relative;
}
.ab-feed .ab-card .ab-unread-indicator {
  position: absolute;
  bottom: 0;
  margin-right: -1px;
  width: 100%;
  height: 5px;
  background-color: #1676d0;
  border-radius: 0 0 3px 3px;
}
.ab-feed .ab-card .ab-unread-indicator.read {
  background-color: rgba(0, 0, 0, 0);
}
.ab-feed .ab-card .ab-title {
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  font-size: 18px;
  line-height: 130%;
  font-weight: 700;
  padding: 20px 20px 0;
}
.ab-feed .ab-card .ab-description {
  color: #545454;
  padding: 15px 20px;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.ab-feed .ab-card .ab-url-area {
  color: #1676d0;
  margin-top: 15px;
}
.ab-feed .ab-card.ab-classic-card .ab-card-body {
  min-height: 95px;
  border-radius: 3px;
}
.ab-feed .ab-card.ab-classic-card.with-image .ab-card-body {
  min-height: 100px;
  padding-left: 80px;
}
.ab-feed .ab-card.ab-classic-card.with-image .ab-image-area {
  width: 60px;
  height: 60px;
  padding: 20px 0 20px 20px;
  position: absolute;
}
.ab-feed .ab-card.ab-classic-card.with-image .ab-image-area img {
  border-radius: 3px;
  width: 60px;
  height: 60px;
}
.ab-feed .ab-card.ab-classic-card.with-image .ab-title {
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
}
.ab-feed .ab-card.ab-classic-card.with-image .ab-description {
  padding-top: 10px;
}
.ab-feed .ab-feed-buttons-wrapper {
  position: relative;
  background-color: #282828;
  height: 38px;
  -webkit-box-shadow: 0 1px 4px 1px rgba(66, 82, 113, 0.35);
  box-shadow: 0 1px 4px 1px rgba(66, 82, 113, 0.35);
  z-index: 1;
}
.ab-feed .ab-close-button,
.ab-feed .ab-refresh-button {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  margin: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.ab-feed .ab-close-button:hover,
.ab-feed .ab-refresh-button:hover {
  font-size: 22px;
}
.ab-feed .ab-close-button {
  float: right;
  margin-top: 9px;
}
.ab-feed .ab-close-button:hover {
  margin-top: 6px;
  margin-right: 9px;
}
.ab-feed .ab-refresh-button {
  margin-left: 12px;
}
.ab-feed .ab-refresh-button:hover {
  margin-top: 8px;
  margin-left: 10px;
}
.ab-feed .ab-no-cards-message {
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 750px) {
  body > .ab-feed {
    width: 100%;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  body > .ab-feed.ab-show {
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  body > .ab-feed.ab-hide {
    -webkit-animation-name: none;
    animation-name: none;
    -webkit-animation-duration: 0;
    animation-duration: 0;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    top: 100%;
    opacity: 0.5;
  }
}
