@charset "UTF-8";
._1--3Z {
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
._2Ozg2 {
  opacity: 1;
}
._2Ayw6 {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.has-contextmenu {
  background-color: undefined;
  background-color: var(--background-intermediate);
}
.v6CQx {
  border-top: undefined;
  border-top: 1px solid var(--divider-primary);
  display: table-row;
  width: 100%;
}
.v6CQx:first-child {
  border: none;
}
._2ehCV {
  background-color: undefined;
  background-color: var(--background-intermediate);
}
._11iTF {
  cursor: pointer;
}
.Xylve {
  display: table-cell;
  padding: 16px 8px;
  text-align: left;
  vertical-align: top;
}
._2wN8I {
  height: 60px;
  overflow: hidden;
  width: 100%;
}
.xlqIz {
  cursor: pointer;
}
.JFiMI {
  width: auto;
}
._1tCR8 {
  width: 48px;
}
._362Cj {
  width: 76px;
}
._2QILp {
  width: 240px;
}
._1BNpp {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 6px;
}
._1BNpp,
._1BNpp .link {
  color: undefined;
  color: var(--text-primary);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-property: color;
  transition-property: color;
}
._1BNpp .link {
  display: inline-block;
}
._1BNpp .link:hover {
  color: undefined;
  color: var(--text-accent);
}
._3XCVw {
  color: undefined;
  color: var(--text-primary);
  cursor: pointer;
}
._3ofXL,
._3ofXL._3XCVw,
._3ofXL .link,
._3XCVw:hover {
  color: undefined;
  color: var(--text-accent);
}
._3ofXL._3XCVw:hover,
._3ofXL .link:hover {
  color: undefined;
  color: var(--color-accent-hover);
}
.RxFfn {
  color: undefined;
  color: var(--text-intermediate);
  font-size: 12px;
  line-height: 18px;
}
.RxFfn .item {
  display: inline-block;
}
.RxFfn .item:before {
  content: "•";
  margin: 0 4px;
}
.RxFfn .item:first-child:before {
  display: none;
}
._31IQG {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
._1VNrI {
  margin: auto;
  text-align: center;
}
._1VNrI .table-cell-action {
  border: undefined;
  border: 1px solid var(--divider-primary);
  border-radius: 50%;
  height: 32px;
  padding: 5px 0 0;
  width: 32px;
}
._3HzGZ {
  background-color: undefined;
  background-color: var(--background-contrast);
  height: 4px;
  margin-top: 8px;
  width: 100%;
}
._1xUES,
._3HzGZ {
  border-radius: 4px;
}
._1xUES {
  background-color: undefined;
  background-color: var(--text-intermediate);
  height: 100%;
}
